@media only screen and (max-width: 600px){
    .header{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
        width: 100%;
    }

    .nav-logo img{
        margin-bottom: 15px;
    }

    .circle{
        margin-left: 5px;
        gap: 1px;
    }

    .form{
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .form-right{
        flex-direction: column;
        border-radius: 5%;
        margin: auto;
        outline-style: double;
    }

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid red;
}

.nav-logo img{
    height: 50px;
}

.nav{
    display: flex;
}

.nav-item{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    color: black;
}

.nav-item:hover{
    background: rgb(243, 181, 181);
}

.greetings{
    margin-left: 25px;
}

.banner{
    background-image: url(../assets/Logo.png);
    background-repeat:no-repeat;
    background-size: 100px;
    background-position: center;
    height: 400px;
}

.img{
    border-bottom: 2px solid red;
}
.headquarters{
    text-align: center;
    margin-top: 81px;
    padding: 40px;
    border-bottom: 2px solid red;
    border-top: 1px solid red;
}

.hq-name{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.circle{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.hq-teams{
    display: flex;
    justify-content: space-around;
}

.form{
    display: flex;
    margin: 30px 30px;
    justify-content: space-between;
}

.form-left{
    display: flex;
}

.form-right{
    display: flex;
    font-size: small;
    border: 1px solid black;
    border-radius: 2%;
}

.footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 2px solid red;
    text-align: center;
    color: white;
    background-color: black;
}