.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid red;
}

.nav-logo img{
    height: 50px;
}

.nav{
    display: flex;
}

.nav-item{
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    color: black;
}

.nav-item:hover{
    background: rgb(243, 181, 181);
}

.greetings{
    margin-left: 25px;
}

.banner{
    border-bottom: 2px solid red;
    background-image: url(../assets/Logo.png);
    background-repeat:no-repeat;
    background-size: cover;
    height: 400px;
}

.headquarters{
    text-align: center;
    padding: 40px;
}

.circle{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
}

.hq-teams{
    display: flex;
    justify-content: space-around;
}

.form-left{
    display: flex;
}

.footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 2px solid red;
}